{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link rel="stylesheet" href = {% static "css/base.css" %}>

</head>
<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <div class = "container-fluid">
        <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
            <a class = "navbar-brand" href="#" id = "title"><i class="fas fa-music" style = "padding-right: calc(1vw);"></i>Music</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class = "collapse navbar-collapse" id = "navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class = "nav-item">
                        <a href="#" class = "nav-link">Students</a>
                    </li>
                    <li class = "navbar-nav mr-auto">
                        <a href = "#" class = "nav-link">Attendance</a>
                    </li>
                    <li class = "navbar-nav mr-auto">
                        <a href = "#" class = "nav-link">Fees</a>
                    </li>
                    <li class = "navbar-nav mr-auto">
                        <a href = "#" class = "nav-link">Material</a>
                    </li>
                </ul>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Log out" class="btn float-right login_btn bg-warning">
                </form>
            </div>
        </nav>
    </div>
    
    <main role="main" class = "d-flex flex-column" id = "body">
        <div class="p-5 flex-grow-1">
            <h1 class="p-5 mt-5">Main body base</h1>
            <p class="p-5 lead">We will place the templates for the other pages from here.</p>        
            <p class = "p-5 lead">The footer will have to be pushed down by the contents here</p>
        </div>
    </main>


    <footer class="footer mr-auto">
        <div class="container-fluid">
            <div class = "p-3 d-flex align-items-center flex-column mb-2 bg-dark">
                <div class = "p-2" id = "contactLinks">Contact links</div>
                <div class = "p-2" id = "contributors">Developed by Karthik Udupa and Shubhayu Das</div>
            </div>
        </div>
    </footer>
</body>
</html>